/* phone  */

/* tab  */
@media (min-width: 820px) and (max-width: 1280px) {
  .user-icons {
    display: none;
  }

  input {
    min-width: 28rem;
  }

  .t-s {
    flex-direction: column;
    align-items: center;
  }
  aside {
    display: none;
  }
  .product-category .hide {
    display: none;
  }

  main {
    grid-template-columns: 1fr;
  }

  .banner-text {
    top: 20%;
  }

  .banner-wrapper .banner-text .trending {
    font-size: 2rem;
  }

  .banner-wrapper .banner-text .heading {
    font-size: 2.6rem;
  }

  .banner-wrapper .banner-text .price {
    font-size: 1.6rem;
  }

  .testimonial {
    width: 100%;
    text-align: center;
  }

  .image-center {
    width: 100%;
  }

  .image-center img {
    width: 100%;
  }

  .services {
    width: 100%;
    text-align: center;
  }

  .service {
    align-items: center;
  }

  .banner ul {
    display: none;
  }

  .deal h3 {
    text-align: center;
  }

  .deal-product {
    flex-direction: column;
  }

  .social {
    display: none;
  }
}

@media (max-width: 819px) and (min-width: 360px) {
  .user-icons {
    display: none;
  }

  .deal-product-text {
    max-width: 90%;
  }

  .deal-product img {
    max-width: 90%;
  }

  .discount {
    padding: 1rem 5rem;
  }

  .main-nav .search-field {
    width: 100%;
  }

  .blog-item {
    margin-bottom: 2rem;
  }

  footer .section2 ul {
    margin-bottom: 3rem;
  }

  footer .section1 div {
    margin-bottom: 3rem;
  }

  /* input {
    width: 100%;
  } */

  .options {
    display: none;
  }

  .social p {
    text-align: center;
  }

  .hide-phone {
    display: none;
  }
  .t-s {
    flex-direction: column;
    align-items: center;
  }
  aside {
    display: none;
  }
  .product-category .hide {
    display: none;
  }

  main {
    grid-template-columns: 1fr;
  }

  .banner-wrapper .banner-text .trending {
    font-size: 1.4rem;
  }

  .banner-wrapper .banner-text .heading {
    font-size: 2rem;
  }

  .banner-wrapper .banner-text .price {
    font-size: 1.3rem;
  }

  .banner-wrapper .banner-text .link {
    font-size: 1rem;
  }

  .banner-wrapper .banner-text span {
    font-size: 2rem;
  }
  .testimonial {
    width: 100%;
    text-align: center;
  }

  .image-center {
    width: 100%;
  }

  .image-center img {
    width: 100%;
  }

  .services {
    width: 100%;
    text-align: center;
  }

  .service {
    align-items: center;
  }

  .banner ul {
    display: none;
  }

  .deal h3 {
    text-align: center;
  }

  .deal-product {
    flex-direction: column;
  }

  .social {
    display: none;
  }

  .main-nav {
    flex-direction: column;
    gap: 1rem;
  }
}

@media (max-width: 549px) {
  .banner-text {
    top: 10%;
    margin-left: 5rem;
  }

  .banner-wrapper .banner-text .trending {
    font-size: 1rem;
  }

  .banner-wrapper .banner-text .heading {
    font-size: 1.3rem;
  }

  .banner-wrapper .banner-text .price {
    font-size: 1rem;
  }

  .banner-wrapper .banner-text .link {
    font-size: 0.7rem;
    padding: 0.5rem;
  }

  .banner-wrapper .banner-text span {
    font-size: 1.3rem;
  }
}
