@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* GENERAL STYLES */

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
}

select {
  border: none;
  color: black;
}

.flex {
  display: flex;
}

.width-75vw {
  max-width: 90vw;
}

/* -------------------------------------------------------------------------- */
/*                                   HEADER                                   */
/* -------------------------------------------------------------------------- */

/* SUB-NAV  */
.sub-nav-container {
  border-bottom: 1px solid rgb(232, 232, 232);
  /* margin-bottom: 2rem; */
}

.sub-nav {
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1rem 0;
  font-size: 1.4rem;
}
.social {
  gap: 1rem;
}

.social-item {
  padding: 0.6rem;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
}
.fa-brands {
  color: grey;
}

.fa-solid.fa-star,
.fa-regular.fa-star {
  color: gold;
}

.options {
  gap: 1rem;
}

/* MAIN-NAV */

.main-nav-container {
  border-bottom: 1px solid rgb(232, 232, 232);
  padding: 3rem 0;
  margin-bottom: 2rem;
}

.main-nav {
  margin: 0 auto;
  align-items: center;
  gap: 5rem;
}

.main-nav h2 {
  font-size: 3.5rem;
  color: #ff8f9d;
}

.search-field {
  flex: 1;
  position: relative;
}

.fa-search {
  position: absolute;
  right: 2rem;
  top: 1.7rem;
  font-size: 1.7rem;
  color: gray;
}
input {
  width: 100%;
  padding: 1.5rem;
  border-radius: 10px;
  outline: none;
  padding-left: 2rem;
  border: 1px solid rgb(232, 232, 232);
}

input::placeholder {
  font-size: 1.6rem;
}
.bi {
  font-size: 4rem;
}

.user-icons {
  align-items: center;
  gap: 1.5rem;
}

.bi-heart {
  font-size: 3.5rem;
}

.bi-handbag {
  font-size: 3.5rem;
}

.user.heart,
.user.bag {
  position: relative;
}

.count {
  position: absolute;
  background-color: #ff8f9d;
  color: #fff;
  padding: 2px 7px;
  font-size: 1.2rem;
  border-radius: 50%;
  top: -17px;
  right: -5px;
}

/* -------------------------------------------------------------------------- */
/*                               SECTION BANNER                               */
/* -------------------------------------------------------------------------- */
.banner {
  max-width: 90vw;
  margin: 0 auto;
  margin-bottom: 3rem;
}
.category {
  font-size: 1.5rem;
  font-weight: bold;
  justify-content: center;
  gap: 4rem;
  margin-bottom: 2rem;
  color: rgb(133, 126, 126);
}

.banner-wrapper {
  position: relative;
}

.banner-wrapper img {
  max-width: 100%;
  border-radius: 10px;
  height: auto;
}

.banner-text {
  max-width: 40rem;
  margin-left: 10rem;
  margin-top: 0;
  position: absolute;

  top: 25%;
}

.banner-text p {
  margin-bottom: 1rem;
  font-weight: bold;
}

.banner-text p:last-child {
  margin-bottom: 0;
}
.banner-text .trending {
  font-size: 2.7rem;
  color: #ff8f9d;
}

.banner-text .heading {
  font-size: 3rem;
}

.banner-text .price {
  font-size: 2rem;
  color: gray;
}

.banner-text .price span {
  font-size: 3rem;
}

.banner-text a {
  color: #fff;
  font-weight: bold;
  background-color: #ff8f9d;
  padding: 1rem 2rem;
  border-radius: 5px;
  font-size: 1.4rem;
  display: inline-block;
}

/* -------------------------------------------------------------------------- */
/*                          SECTION PRODUCT CATEGORY                          */
/* -------------------------------------------------------------------------- */

.product-category {
  margin: 0 auto;
  max-width: 90vw;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  margin-bottom: 5rem;
}
.category-item {
  display: flex;
  flex: 1;
  border: 1px solid rgb(232, 232, 232);
  padding: 1.5rem;
  border-radius: 10px;
  justify-content: space-between;
}

.content {
  display: flex;
  gap: 1rem;
}
.category-image {
  width: 5rem;
  height: 5rem;
  padding: 0.5rem;
  background-color: aquamarine;
  border: 1px solid rgb(232, 232, 232);
  border-radius: 5px;
}

.category-text .name {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.category-text .show {
  font-size: 1.3rem;
  font-weight: bold;
  color: #ff8f9d;
}

/* -------------------------------------------------------------------------- */
/*                                    MAIN                                    */
/* -------------------------------------------------------------------------- */
main {
  margin: 0 auto;
  max-width: 90vw;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

aside {
  position: sticky;
  height: max-content;
  top: 10px;
}

/* aside category  */
.aside-category {
  padding: 2rem;
  /* border: 1px solid rgb(232, 232, 232); */
  border-radius: 10px;
  box-shadow: 0 0 3px rgb(68, 67, 67);
  margin-bottom: 2rem;
}

.aside-category h3 {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.aside-category img {
  width: 2.5rem;
  margin-right: 1rem;
}

.aside-category p,
.add {
  font-size: 1.6rem;
}

.aside-category-item {
  align-items: center;
  margin-bottom: 1rem;
}

.aside-category-item:last-child {
  margin-bottom: 0;
}

.aside-category-item span {
  margin-left: auto;
}

/* aside best sellers  */

.aside-bestsellers {
  padding: 2rem;
  box-shadow: 0 0 3px rgb(68, 67, 67);
  border-radius: 10px;
}

.aside-bestsellers h3 {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.aside-bestsellers-item {
  display: flex;
  gap: 3rem;
  align-items: center;
  margin-bottom: 2rem;
}

.aside-bestsellers-item:last-child {
  margin-bottom: 0;
}
.aside-bestsellers img {
  width: 8rem;
}

.aside-bestsellers-text {
  font-size: 1.6rem;
}

.aside-bestsellers-text p {
  margin-bottom: 5px;
}

.aside-bestsellers-text span {
  text-decoration: line-through;
}

/* SECTION RIGHT  */

.right-sections h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgb(232, 232, 232);
}

.right-sections {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

.arrivals-item {
  display: flex;
  align-items: center;
  padding: 2rem;
  border: 1px solid rgb(232, 232, 232);
  border-radius: 10px;
  gap: 2rem;
  margin-bottom: 2rem;
}

.arrivals-item-text h4 {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

.arrivals-item-text p {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  color: grey;
}

.arrivals-item-text strong {
  font-size: 1.5rem;
  color: #ff8f9d;
}

.arrivals-item-text span {
  font-size: 1.3rem;
  text-decoration: line-through;
  color: grey;
}

.arrivals-item img {
  width: 7rem;
}

/* DEAL OF THE DAY */
.deal h3 {
  font-size: 2rem;
  margin-left: 5rem;
  margin-bottom: 2rem;
  font-weight: bold;
}
.deal-product {
  padding: 3rem 0;
  display: flex;
  align-items: center;
  border: 1px solid rgb(232, 232, 232);
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 5rem;
}
.deal-product img {
  max-width: 40%;
}

.deal-product-text {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.deal-product-text .text {
  color: gray;
}

.deal-price strong {
  color: #ff8f9d;
}

.deal-price strong,
.deal-price span {
  font-size: 1.9rem;
}

.deal-price span {
  text-decoration: line-through;
}

.deal-product a {
  padding: 1rem 2rem;
  font-size: 1.7rem;
  font-weight: bold;
  background-color: #ff8f9d;
  align-self: flex-start;
  border-radius: 10px;
  color: #fff;
}

.availability {
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
}

.sale-bar-progress {
  width: 100%;
  padding: 0.3rem;
  background-color: #ededed;
  border-radius: 10px;
}

.sale-bar-progress span {
  display: block;
  width: 50%;
  background-color: #ff8f9d;
  height: 0.5rem;
  border-radius: 10px;
}

.time-box {
  display: flex;
  gap: 2rem;
}

.time {
  width: 7rem;
  padding: 1rem;
  background-color: #eceded;
  border-radius: 10px;
  text-align: center;
  font-weight: 500;
  color: #000;
}

.time span:last-child {
  font-size: 1.1rem;
}
.deal-product-text {
  font-size: 1.6rem;
}

/* MAIN PRODUCTS  */

.main-products h3 {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.main-products {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.main-products-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid rgb(232, 232, 232);
  padding: 1rem;
  width: auto;
  border-radius: 10px;
  max-width: 23rem;
}

.product-class {
  color: #ff8f9d;
}
.product-name {
  color: gray;
}

.pricing span {
  color: gray;
  text-decoration: line-through;
}
.main-products {
  font-size: 1.6rem;
}

.new-products {
  font-size: 2rem;
  margin-left: 5rem;
  margin-bottom: 3rem;
}

/* TESTIMONIALS AND SERVICES */

.testimonial {
  flex-basis: 300px;
  flex-shrink: 0;
}
.services {
  flex-shrink: 0;
}
.t-s {
  display: flex;
  max-width: 90vw;
  align-items: flex-start;
  justify-content: space-around;
  gap: 3rem;
  /* flex-shrink: 1; */
  margin: 5rem auto;
  /* flex-wrap: wrap; */
}

.testimonial h3,
.services h3 {
  font-size: 1.8rem;
  margin: 2rem 0;
}

.alan {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid rgb(232, 232, 232);
  border-radius: 10px;
  padding: 2rem;
  font-size: 1.6rem;
  gap: 0.8rem;
}

.alan strong {
  color: darkslategray;
}

.alan p {
  color: gray;
}

.alan i {
  font-size: 2rem;
  color: salmon;
}

.alan img {
  width: 40%;
  border-radius: 50%;
  margin: 0 auto;
}

.discount {
  text-align: center;
  font-size: 1.6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(242, 243, 245, 0.6);
  padding: 3rem 6rem;
  border-radius: 10px;
  box-shadow: 0 0 10px #ff8f9d;
}

.discount h3 {
  font-size: 1.4rem;
  padding: 1rem 2rem;
  background-color: #000;
  color: #fff;
  border-radius: 10px;
}

.discount strong {
  color: #ff8f9d;
}

.service {
  font-size: 1.6rem;
  padding: 3rem;
  border: 1px solid rgb(232, 232, 232);
  border-radius: 10px;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.service-item {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-bottom: 1rem;
}

.service-title {
  font-weight: bold;
  font-size: 1.6rem;
  color: darkslategray;
}

.service-term {
  font-size: 1.4rem;
  color: grey;
}

.service-item:last-child {
  margin-bottom: 0;
}

.service-item i {
  font-size: 3rem;
  color: salmon;
}
.image-center {
  align-self: flex-end;
  flex-shrink: 0;
  position: relative;
}
.image-center img {
  border-radius: 10px;
  max-width: 100%;
}

/* BLOG */
.blog {
  max-width: 90vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  margin-bottom: 5rem;
  flex-wrap: wrap;
}
.blog-item {
  flex-basis: 20%;
}

.blog-item img {
  width: 250px;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.blog-text span {
  font-size: 1.3rem;
  color: #ff8f9d;
}

.blog-text p {
  font-size: 1.5rem;
  font-weight: bold;
}

.blog-text .author {
  font-size: 1.4rem;
  font-weight: normal;
  color: gray;
}

/* FOOTER  */

footer {
  padding: 3vw;
  margin: 0 auto;
  background-color: #212121;
  color: lightgray;
  font-size: 1.6rem;
}

footer .section1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 8rem;
}

footer h3 {
  color: salmon;
  font-size: 1.7rem;
}

footer a {
  color: rgb(142, 130, 130);
}

.section1 div {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.section2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: rgb(142, 130, 130);
  margin-bottom: 8rem;
}

.section2 h3 {
  color: #fff;
}

.section2 ul {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.section2 li {
  display: flex;
  gap: 2rem;
}

.section2 li i {
  font-size: 2rem;
}

footer .section3 {
  text-align: center;
}

footer .section3 p {
  color: rgb(142, 130, 130);
  font-weight: bold;
  margin-top: 1rem;
}

.bottom-bar {
  display: flex;
  width: 80%;
  justify-content: space-between;
  /* gap: 3rem; */
  align-items: center;
  background-color: #fffeff;
  box-shadow: 0 0 5px #444;
  padding: 1rem 2rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: fixed;
  bottom: 0;
  left: 10%;
  display: none;
}

.bottom-bar i {
  font-size: 2rem;
}
